
:root {

    --bs-color-primary: #3fbbc0;
    --color-bg-section:#f7fcfc;

    --color-font-primary:#555555;
    
    --scroll-color:var(--bs-color-primary);

    
    --font-family-primary:"Roboto", sans-serif;

}

*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth ;
    scroll-padding-top: 105px;
}


body {
    font-family: var(--font-family-primary) !important;
}

.bg-primary-color{
    background-color: var(--bs-color-primary) !important;
}

.padding-y{
    padding: 60px 0px;
}
.padding-bottom{
    padding: 0px 0px 60px 0px;
}

.btn-top{
    line-height: 0 !important;
    bottom: 20px;
    right: 10px;
    background-color: var(--bs-color-primary) !important;

}

main{
    overflow-x: hidden;
}
    
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scroll-color);
	border-radius: 5px;
}


/*for animation card hover ::after.ltr-effect ,*/

.tp-effect,
.ltr-effect{
    position: relative;
}

.ltr-effect::after ,
.tp-effect::after{
position:absolute;
content: "";
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #333;
opacity: 0.1;
z-index: -1;
}

.ltr-effect::after{
    width: 0; 
    transition: width 0.5s;
}

.tp-effect::after{
    height: 0;
    transition: height 0.5s;

}

.ltr-effect:hover::after{
    width: 100%;
}
.tp-effect:hover::after{
    height: 100%;
}

